* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

html {
    overflow: hidden;
}

.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.header__text {
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Patrick Hand', cursive;
}

